@import "tailwindcss";

@theme {
  --color-primary: #3525cd;
  --color-primary-container: #4f46e5;
  --color-on-primary: #ffffff;
  --color-on-primary-container: #dad7ff;
  --color-primary-fixed: #e2dfff;
  --color-primary-fixed-dim: #c3c0ff;
  --color-secondary: #4953bc;
  --color-secondary-container: #8792fe;
  --color-on-secondary: #ffffff;
  --color-secondary-fixed: #e0e0ff;
  --color-secondary-fixed-dim: #bdc2ff;
  --color-tertiary: #005338;
  --color-tertiary-container: #006e4b;
  --color-tertiary-fixed: #6ffbbe;
  --color-tertiary-fixed-dim: #4edea3;
  --color-surface: #faf8ff;
  --color-surface-dim: #d2d9f4;
  --color-surface-bright: #faf8ff;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f2f3ff;
  --color-surface-container: #eaedff;
  --color-surface-container-high: #e2e7ff;
  --color-surface-container-highest: #dae2fd;
  --color-on-surface: #131b2e;
  --color-on-surface-variant: #464555;
  --color-inverse-surface: #283044;
  --color-inverse-on-surface: #eef0ff;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-outline: #777587;
  --color-outline-variant: #c7c4d8;
  --color-background: #faf8ff;
  --color-on-background: #131b2e;
  --color-surface-variant: #dae2fd;

  --font-display: "Plus Jakarta Sans", -apple-system, BlinkMacSystemFont, sans-serif;
  --font-headline: "Plus Jakarta Sans", -apple-system, BlinkMacSystemFont, sans-serif;
  --font-body: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
  --font-code: "JetBrains Mono", monospace;
}

@layer base {
  body {
    font-family: var(--font-body);
    background-color: var(--color-background);
    color: var(--color-on-surface);
  }
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;
}

